<!--Author Harold Seefeld-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <!--Importing JQuery and Firebase connection -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/
	firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-database.js">
    </script>
    <link rel="stylesheet" th:href="@{/css/NotificationAndWatchlist.css}">
</head>
<body>

<header class="site-header" style="margin-left:auto; margin-right: auto;max-width:70%;">
    <div class="masthead sticky-container" data-sticky-container="" style="height: 60px;">
        <div class="row expanded collapse">
            <div class="masthead__column--left column">
                <div class="row">
                    <div class="masthead__logo column">
                        <a href="home">
                            <img alt="logo" title="logo" class="logo__light" src="images/25694.svg" height="42" width="42">
                        </a>
                    </div>
                    <div class="masthead__menu column">
                        <div ng-mega-menu="">
                            <div ng-transclude="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="masthead__column--right column">
                <div class="row--inline-flex">
                    <div class="masthead__subscription signUpBtn" style="border: 0px;">
                        <a href="Register.html">Sign up</a>
                    </div>
                    <div class="masthead__subscription loginBtn">
                        <a href="login.html">Login</a>
                    </div>
                    <div class="masthead__subscription welcomePanel">
                        <btn id="welcomeText"></btn>
                    </div>
                    <div class="masthead__subscription accountBtn">
                        <btn onClick="location.href='UserLogs.html'">My Account</btn>
                    </div>
                    <div class="masthead__subscription watchlistBtn">
                        <btn onClick="location.href='watchlist'">My Watchlist</btn>
                    </div>
                    <div class="masthead__subscription transaction">
                        <a  id="transaction" href="#">My Transaction</a>
                    </div>
                    <div class="masthead__subscription customerServiceBtn">
                        <btn onClick="location.href='CustomerService'">Customer Service</btn>
                    </div>
                    <div class="masthead__subscription staffBtn">
                        <btn onClick="location.href='staffPortal.html'">Staff Portal</btn>
                    </div>
                    <div class="masthead__subscription logoutBtn">
                        <btn onClick="logOut()">Logout</btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:replace="fragments/Navbar.html :: navbar"></div>
<div th:replace="fragments/Notification.html :: bidNotification"></div>

<div class="content">
    <h1 class="content-title">Notifications</h1>

    <div class="content-form" th:if="${defaultCustomer}">
        <h2>Not Signed In</h2>
        <p>Please sign in to continue. Displaying functionality and view for our default customer.</p>
    </div>

    <div class="content-form">
        <h2>Notification Settings</h2>
        <form class="pure-form" action="#" th:action="@{/notifications/set/preferences}" th:object="${notificationPreference}" method="post">
            <table>
                <tr>
                    <td><input id='notificationsEnabled' th:field="*{notificationsEnabled}" type="checkbox">Notifications enabled</td>
                </tr>
                <tr>
                    <td><input id="soundEnabled" th:field="*{soundEnabled}" type="checkbox">Sound enabled</td>
                </tr>
                <tr>
                    <td><input id="submitNotifications" class="pure-button pure-button-primary" type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="content-form">
        <div class="content-notification" th:each="item : ${notificationItems}">
            <span th:if="${item.property != null}">
                <h4><a th:href="@{/homedetail/{propertyID}(propertyID=${item.propertyID})}" th:text="${item.property.title}"></a> has had a new bid placed on it! The new bid is $<span th:text="${item.bid.price}"></span>.</p></h4>
                <br>
                <img border="0" alt="" th:src="${item.property.url}" width="100" height="100">
                <p th:text="'Suburb: ' + ${item.property.suburb}"></p>
                <p th:text="'Bedrooms: ' + ${item.property.bedroom}"></p>
                <p th:text="'Bathrooms: ' + ${item.property.bathroom}"></p>
                <p th:text="'Garage Spaces: ' + ${item.property.garage}"></p>
            </span>
            <span th:unless="${item.property != null}">
                <img border="0" alt="" src="https://www.rawsonhomes.com.au/-/media/rawson-homes/home-designs/bronte/facades/hi-res-bronte-hamptons-2168x1355.ashx?thn=0&w=1016&hash=96A840845863F5C11C9429D577F0F76C" width="100" height="100">
                <p>The property has been removed from the site.</p>
                <br>
                <p th:text="'Property ID: ' + ${item.propertyID}"></p>
            </span>
            <i>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                        document.write('Notification created on ' + new Date([[${item.createdDate}]]).toLocaleDateString() + " at " + new Date([[${item.createdDate}]]).toLocaleTimeString())
                    /*]]>*/
                 </script>
            </i>
            <a class=remove-watchlist-item th:href="@{/notification/remove/{notificationID}(notificationID=${item.notificationID})}">Remove from notifications</a>
        </div>
        <p th:if="${#lists.size(notificationItems) == 0}">No notifications found.</p>
    </div>

    <div class="content-footer">
        <div class="content-login-description">Want to return home？</div>
        <div><a class="content-login-link" href="">Home</a></div>
    </div>
</div>

</body>
</html>
