<!--Author Harold Seefeld-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" th:href="@{/css/NotificationAndWatchlist.css}">
</head>
<body>

<header>
    <div class="header-line"></div>
</header>

<div class="content">
    <h1 class="content-title">Watchlist</h1>
    <br>
    <div class="content-form">
        <div class="content-notification">
            <p>A <a href="">property</a> you have been watching has had a new bid placed on it! The new bid is $275,000.</p>
            <p><i>21/08/2019 11:10PM</i></p>
        </div>
    </div>
    <br>
    <div class="content-footer">
        <div class="content-login-description">Want to return home？</div>
        <div><a class="content-login-link" href="">Home</a></div>
    </div>
</div>

</body>
</html>
