<!--Author Harold Seefeld-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" th:href="@{/css/NotificationAndWatchlist.css}">
</head>
<body>

<header>
    <div class="header-line"></div>
</header>

<div th:replace="fragments/Navbar.html :: navbar"></div>
<div th:replace="fragments/Notification.html :: bidNotification"></div>

<div class="content">
    <h1 class="content-title">Notifications</h1>

    <div class="content-form" th:if="${defaultCustomer}">
        <h2>Not Signed In</h2>
        <p>Please sign in to continue. Displaying functionality and view for our default customer.</p>
    </div>

    <div class="content-form">
        <div class="content-notification" th:each="item : ${notificationItems}">
            <span th:if="${item.property != null}">
                <h4><a th:href="@{/homedetail/{propertyID}(propertyID=${item.propertyID})}" th:text="${item.property.title}"></a> has had a new bid placed on it! The new bid is $<span th:text="${item.bid.price}"></span>.</p></h4>
                <br>
                <img border="0" alt="" th:src="${item.property.url}" width="100" height="100">
                <p th:text="'Suburb: ' + ${item.property.suburb}"></p>
                <p th:text="'Bedrooms: ' + ${item.property.bedroom}"></p>
                <p th:text="'Bathrooms: ' + ${item.property.bathroom}"></p>
                <p th:text="'Garage Spaces: ' + ${item.property.garage}"></p>
            </span>
            <span th:unless="${item.property != null}">
                <img border="0" alt="" src="https://www.rawsonhomes.com.au/-/media/rawson-homes/home-designs/bronte/facades/hi-res-bronte-hamptons-2168x1355.ashx?thn=0&w=1016&hash=96A840845863F5C11C9429D577F0F76C" width="100" height="100">
                <p>The property has been removed from the site.</p>
                <br>
                <p th:text="'Property ID: ' + ${item.propertyID}"></p>
            </span>
            <i>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                        document.write('Notification created on ' + new Date([[${item.createdDate}]]).toLocaleDateString() + " at " + new Date([[${item.createdDate}]]).toLocaleTimeString())
                    /*]]>*/
                 </script>
            </i>
            <a class=remove-watchlist-item th:href="@{/watchlist/remove/notification/{notificationID}(notificationID=${item.notificationID})}">Remove from notifications</a>
        </div>
        <p th:if="${#lists.size(notificationItems) == 0}">No notifications found.</p>
    </div>

    <div class="content-footer">
        <div class="content-login-description">Want to return home？</div>
        <div><a class="content-login-link" href="">Home</a></div>
    </div>
</div>

</body>
</html>
