<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uts.asd.mapper.PropertyMapper">

  <resultMap id="BaseResultMap" type="Property">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="number" />
  </resultMap>


  <insert id="insert" parameterType="Property">
    insert into property 
    values (#{id,jdbcType=INTEGER})
  </insert>

  <select id="All" resultMap="BaseResultMap">
    select * from property
  </select>

  <select id="getById" resultMap="BaseResultMap">
    select id, name, author, price
    from book
    WHERE id = #{id}
  </select>

</mapper>